@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

:root {
    --primary-color: #3593CA;
    --secondary-color: #CA6C35;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
h1 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.1rem;
}

.btn {
    padding: 0.8em;
    border-radius: 2em;
    border: 4px solid transparent;
    background-color: transparent;
    cursor: pointer;    
    font-weight: 700;
}

.is-invalid .invalid-text {
    visibility: visible;
}

.is-invalid .input {
    border: 2px solid red;
}

.is-valid .invalid-text {
    visibility: hidden;
}

.is-valid .input {
    border: 2px solid green;
}

.wrapper{
    position: relative;
    display: flex;
}

.d-none {
    display: none;
}


/*----------------- BLÅ SIDA -------------------------- */

.left-side {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 2rem;
    width: 70%;
    position: relative;
}

.btn-exit {
    position: absolute;
    top: .1rem;
    right: .5rem;
}

.form-header {
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
}

.input-group label {
    margin: 0 0 .3rem 1rem;
}

.input {
    padding: .8rem .8rem .8rem 1.8rem;
    border: 2px solid black;
    border-radius: 2em;
}

.invalid-text {
    color: red;
    font-size: 0.8rem;
    margin: 0 0 0 1.8rem;
    font-weight: 600;
    visibility: hidden;
}

.btn-submit, .btn-submit-edit {
    background-color: var(--secondary-color);
    margin-top: 0.7rem;
    color: white;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.1em;
}

.btn-submit-edit {
    border: 4px solid #914c25;
}

.btn-submit-edit:hover {
    background-color: #914c25;
}


/* ------------------ VIT SIDA -------------------------- */

.right-side {
    width: 100%;
    padding-top: 35rem;
}

.member-header {
    color: var(--primary-color);
    text-align: center;
    margin: 4rem 0;
}

.member-output {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    margin: auto;    
    width: 80%;
    padding: 1rem 0;
    margin-bottom: 2.5rem;
}

.name-output {
    margin-left: .5rem;
}

.name {
    color: var(--secondary-color);
    text-transform: capitalize;
}

.email {
    text-decoration: black;
    color: black;
    text-transform: lowercase;
}

.member-nr {
    text-align: center;
    margin-bottom: 2.5rem;
    font-style: italic;
}

.fas {
    font-size: 1.2rem;
}

.fa-trash-alt {
    color: var(--secondary-color);
}


/* ---------------- MEDIA QUERIES -------------------------- */

@media (min-width: 992px) {

    .wrapper {
        justify-content: flex-end;
    }

    .left-side { 
        width: 50%;
        height: 100vh;
    }

    .right-side {
        width: 50%;
        padding: 0;
    }
}